div
{
	overflow-x:auto;
}

table
{
	width:100%;
	height:100%;
	border-spacing:0px;
}

.box2
{
	background-color:yellow;
	border: 1px solid black;
	text-align:left;
}

.box1
{
	background-color:green;
	border: 1px solid black;
	text-align:left;
}
